<!DOCTYPE html>
<head>
	<title>Samridhidhi Login</title>

	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
          
</head>
<body class="blue-grey lighten-4">

<!-- Navigation Bar -->
<nav>
    <div class="nav-wrapper cyan">
      <a href="#" class="brand-logo center">SAMRIDHDHI</a>
    </div>
  </nav>
<br>
<br>
<!-- Login Card -->
<div class="container">
		<div class="row">
			<div>
				<form class="col s10 offset-s1 m8 offset-m2 l8 offset-l2" id="login_form" action="#">
			      <div class="card darken-1">
			        <div class="card-content black-text">
			          <span class="card-title">Academics</span>
<table class="tg">
  <tr>
    <th class="tg-031e" colspan="2" width="900">
    	                </th>
    	<div class="row">
    						<div class="input-field col s7 offset-s1">
          						<input id="first_name" data-error="Please enter a name" type="text" class="validate">
         						<label for="first_name" class="active">Name</label>
       						</div>
       					</div>
				<div class="row">		
						<div class="input-field col s7 offset-s1">
          						<input id="percentage" data-error="Enter the standard in which you are studying" type="text" class="validate">
         						<label for="percentage" class="active">Standard</label>
       						</div></div>
						
      <div class="row">
    						<div class="input-field col s7 offset-s1">
          						<input id="Standard" data-error="Enter your percentage" type="text" class="validate">
         						<label for="standard" class="active">Percentage</label>
       						</div>
       					</div>

							<div class="row">
    						<div class="input-field col s7 offset-s1">
          						<input id="marksm" data-error="Enter your marks in Maths" type="text" class="validate">
         						<label for="marksm" class="active">Maths Marks</label>
       						</div>
       					</div>
						<div class="row">
    						<div class="input-field col s7 offset-s1">
          						<input id="marksh" data-error="Enter your marks in Hindi" type="text" class="validate">
         						<label for="marksh" class="active">Hindi Marks</label>
       						</div>
       					</div>
						<div class="row">
    						<div class="input-field col s7 offset-s1">
          						<input id="markss" data-error="Enter your marks in Science" type="text" class="validate">
         						<label for="markss" class="active">Science Marks</label>
       						</div>
       					</div>
						<div class="row">
    						<div class="input-field col s7 offset-s1">
          						<input id="Extra Curricular Activities" data-error="Enter any extra curricular activity you have participated in" type="text" class="validate">
         						<label for="standard" class="active">Extra Curricular</label>
       						</div>
       					</div>
						
						 <div class="row">      
					      	<div class="input-field col s7 offset-s1">
					      	<label for="d">Date</label>
					          <input id="d" type="date" class="datepicker" align="center" >
					        </div>
					       </div>

<script>function ex(){
	document.getElementById("dis").style.visibility = 'visible';
	}</script>
    </th>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="2">    	
    </td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3">
			  <button class="btn-flat waves-effect waves-light amber-text" type="submit" name="action">Submit
    			<i class="material-icons right"></i>
  			</button>
    </form>
  </div>
  <script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
  <script>
     $(document).ready(function() {
        $('.ex').material_select();
    });
  </script>
  <script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>




    </td>
  </tr>
</table>








						
					      
					      
					      
</body>
</html>
