<!DOCTYPE html>
<html>
<head>
	<title>Attendance</title>

	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="all_check.js"></script>
          
</head>
<body class="blue-grey lighten-4">

<!-- Navigation Bar -->
<nav>
    <div class="nav-wrapper cyan">
      <a href="#" class="brand-logo center">ATTENDANCE</a>
      <a href="#" class="brand-logo right">SUBMIT</a>
                </div>
  </nav>
<br>
<br>
<br>
<br>




<div id="main">
<div id="first">
<div class="button">
<input type="date" class="datepicker">
  <label class="label1" for="Item 1"></label>
  <table width="560" align="center" cellpadding="2" cellspacing="0">
  <tr>
    <td><input name="checkbox" type="checkbox" id="checkAll" value="Check/Uncheck All "></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td>
      <div align="center"><span class="label1"><strong>NAME</strong></span></div></td>
    <td><div align="center"><strong>ATTENDANCE</strong></div></td>
  </tr>
  <tr>
    <td><input class="first" id="Item 1" name="option12" type="checkbox"><div align="center">
      <span class="label1" >ABC</span></td>
    <td><div align="center">78%</div></td>
  </tr>
  <tr>
    <td><input class="first" id="Item 2" name="option13" type="checkbox"><div align="center">
      <label class="label1" for="Item 2">CDE</label></td>
    <td><div align="center">67%</div></td>
  </tr>
  <tr>
    <td><input class="first" id="Item 3" name="option14" type="checkbox"><div align="center">
      <label class="label1" for="Item 3">XYZ</label></td>
    <td><div align="center">88%</div></td>
  </tr>
</table>
<label class="label1" for="Item 1"><br>
</label>
<label class="label1" for="Item 2"><br>
</label>
<label class="label1" for="Item 3"><br>
</label>
</div>
<p>&nbsp;</p>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>


