<!DOCTYPE html>
<html>
<head>
	<title>Attendance</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../static/js/materialize.min.js"></script>

	<!-- Compiled and minified CSS -->
  <style type="text/css">
<!--
.style2 {color: #3300FF; }
.style3 {
	color: #000033;
	font-weight: bold;
}
-->
  </style>
</head>
<body class="blue-grey lighten-4">

<!-- Navigation Bar -->
<nav>
    <div class="nav-wrapper cyan">
      <a href="#" class="brand-logo center">ATTENDANCE</a>
     
                </div>
  </nav>
<br>
<br>
<br>
<br>


</script>
  <script>
     $(document).ready(function() {
        $('.ex').material_select();
    });
  </script>
  <script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>

  
<div class="container">
    <div class="row">
      <div>
        <form class="col s10 offset-s1 m8 offset-m2 l8 offset-l2" id="login_form" action="#">
            <div class="card darken-1">
              <div class="card-content black-text">




<div id="main">
<div id="first">
<div class="button">
  <span class="style3"></span>
  <input type="date" class="datepicker">
  <label class="label1" for="Item 1"></label>
  <table width="560" align="center" cellpadding="2" cellspacing="0">
  <tr>
    <td><input name="checkbox" type="checkbox" id="checkAll" value="Check/Uncheck All "></td>
    <td><div align="center"><span class="style2"></span></div></td>
  </tr>
  <tr>
    <td>
      <div align="center" class="style2"><span class="label1"><strong>NAME</strong></span></div></td>
    <td><div align="center" class="style2"><strong>ATTENDANCE</strong></div></td>
  </tr>
  <tr>
    <td><span class="style2">
      <input class="first" id="Item 1" name="option12" type="checkbox">
      <div align="center">
      ABC</span></td>
    <td><div align="center" class="style2">78%</div></td>
  </tr>
  <tr>
    <td><span class="style2">
      <input class="first" id="Item 2" name="option13" type="checkbox">
      <div align="center">
        CDE
    </span></td>
    <td><div align="center" class="style2">67%</div></td>
  </tr>
  <tr>
    <td><span class="style2">
      <input class="first" id="Item 3" name="option14" type="checkbox">
      <div align="center">
       XYZ
    </span></td>
    <td><div align="center" class="style2">88%</div></td>
  </tr>
</table>
<label class="label1" for="Item 1"><br>
</label>
<label class="label1" for="Item 2"><br>
</label>
<label class="label1" for="Item 3"><br>
</label>
</div>

 <a href="/sendsms" class="btn-flat waves-effect waves-light amber-text">Submit
        </button>

 
</div>


<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });


</body>


